<h3 class="page-title">Client page</h3>
<div class="col-sm-6 center-block panel panel-primary" *ngIf="client">
  <div class="panel-heading">{{client.name}}</div>
  <ul class="list-group">
    <li class="list-group-item"><b>Email:</b> <a href="mailto:{{client.email}}">{{client.email}}</a></li>
    <li class="list-group-item"><b>Phone:</b> {{client.phone}}</li>
    <li class="list-group-item"><b>Birthday:</b> {{client.birthday}}</li>
    <li class="list-group-item"><b>Address:</b> {{client.address}}</li>
  </ul>
</div>
